@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@500;700&display=swap');body{
    background-color:#141519;
    font-family: 'Open Sans', sans-serif;
}
.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    background: rgb(34,41,52);
    background: linear-gradient(180deg, rgba(34,41,52,1) 0%, rgba(23,30,40,1) 100%);
    width: 410px;
    height: 440px;
    border-radius: 20px;
}
.content-container{
    width: 310px;
    margin-top: 40px;
    margin-left: 50px;
}

.img-container{
    
    margin-bottom: 30px;
}
.img-wrapper{
    display: flex;
    background-color: #2d3642;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.rating-container{
    width: 330px;
}
.rating-container h2{
    color: #FDFFFF;
}
.rating-container p{
    color: #818891;
    font-size:large;
    line-height: 25px;
}

.feedback-container{
    margin-bottom: 25px;
}
.feedback-container ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.feedback-container ul li{
    padding: 10px;
}
.feedback-container ul li button{
    color: #818891;
    background-color:#2d3642;
    padding: 18px;
    border-radius: 25px;
    border-width: 0;
    cursor: pointer;
}
.feedback-container ul li button:hover{
    background-color: #FC7614;
    color: white;
}
.feedback-container ul li button:focus{
    background-color: #818891;
    color: white;
}

.submit-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.submit-btn{
    background-color: #FC7614;
    color: white;
    font-size:large;
    width: 300px;
    height: 40px;
    border-width: 0;
    border-radius: 25px;
    cursor: pointer;
}
.submit-btn:hover{
    background-color: white;
    color: #FC7614;
}

/** thank you page**/
.thankyou-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.selected p{
    color: #FC7614;
    font-size:medium;
    padding: 10px;
    border-radius: 25px;
    background-color: #262F38;
}
.thankyou-container{
    text-align: center;
    color: white;
}
.thankyou-container p{
    color: #818891;
    line-height: 25px;
}